<div class="blogpost_item">
    {% set date = date | dateToRfc3339 %}
    <span class="date">{{ date.slice(0,10) }}</span>&nbsp;•&nbsp;<span><a
                href="{{ link }}">{{ title }}</a></span>
</div>
