<nav class="nav-container" aria-label="main navigation">
    <div class="content">
        <div>
            <a href="{{ "/" | locale_url }}"
               class="{% if page.url == '/' | locale_url %}is-bold{% endif %}">{{ i18n[page.lang].home }}</a>
            <a href="{{ "/blog/" | locale_url }}"
               class="{% if category == 'blog' %}is-bold{% endif %}">{{ i18n[page.lang].blog }}</a>
            <a href="{{ "/contact/" | locale_url }}"
               class="{% if page.url == '/contact/' | locale_url %}is-bold{% endif %}">{{ i18n[page.lang].contact }}</a>
        </div>

        <div>
            {% for link in page.url | locale_links %}
                <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
                    {{ link.label }}
                </a>
            {% endfor %}
        </div>
    </div>
</nav>

<div x-data="{ open: false }" class="navbar-mobile-container">
    <div class="navbar-burger">
        <img id="menu" src="/img/menu.svg" alt="Burger" x-show="!open" @click="open = !open" />
        <img id="x" src="/img/x.svg" alt="Burger" x-show="open" @click="open = !open" />
    </div>
    <div class="nav-mobile-content" x-show="open">
        <a class="link-accent" href="{{ "/" | locale_url }}"
           class="{% if page.url == '/' | locale_url %}is-bold{% endif %}">{{ i18n[page.lang].home }}</a>
        <a class="link-accent" href="{{ "/blog/" | locale_url }}"
           class="{% if category == 'blog' %}is-bold{% endif %}">{{ i18n[page.lang].blog }}</a>
        <a class="link-accent" href="{{ "/contact/" | locale_url }}"
           class="{% if page.url == '/contact/' | locale_url %}is-bold{% endif %}">{{ i18n[page.lang].contact }}</a>
        <hr />
        {% for link in page.url | locale_links %}
            <a class="link-accent" href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
                {{ link.label }}
            </a>
        {% endfor %}
    </div>
</div>
