<div class="project-card">
    <div class="cover">
        <img src="{{ item.cover }}" alt="Project cover" />
    </div>
    <div class="card-content">
        <div class="top">
            <p class="title">{{ item.title }}</p>
            <p class="description">{{ item.description }}</p>
        </div>
        <div class="stack">
            {%- for tech in item.stack -%}
                <span>{{ tech }}</span>
            {%- endfor -%}
        </div>
    </div>
</div>
