<nav class="nav-container noprint" aria-label="main navigation">
    <div class="content">
        <div>left</div>
        <div>right</div>
    </div>

    <div class="navbar-burger" data-target="mobileNav">
        <a href="#" aria-label="Burger menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</nav>
