---
layout: "layouts/base.njk"
---
<div class="blogpost">
    <div class="header">
        <h1>{{ title }}</h1>

        <p class="date">
            {% humandate date,
                locale %} • {{ content | readingTime }}.
        </p>

        <a class="backlink" href="{{ "/blog/" | locale_url }}">{{ i18n[locale]['backToBlog'] }}</a>
    </div>

    <article>
        {% if hasCover %}
            {% set postDate = date | dateToRfc3339 %}
            <div class="cover" style="background-image: url('/img/blog/{{ postDate.slice(0,10) }}/cover.webp')"></div>
        {% endif %}
        {{ content | emojify | safe }}
    </article>

    {% if cover %}
        <hr />
        <div class="credits">
            {% if cover.link %}
                Cover credits: <a href="{{ cover.link }}" target="_blank">{{ cover.author }}</a>.
            {% else %}
                Cover credits: {{ cover.author }}.
            {% endif %}
        </div>
    {% endif %}
</div>
