---
layout: "layouts/base.njk"
---
<h1>{{ i18n[locale]['blog'] }}</h1>

<div class="blog-list is-clearfix">
    {%- for post in collections["posts_" + locale] | reverse -%}
        {% set date = post.date %}
        {% set link = post.url %}
        {% set title = post.data.title %}
        {% include "components/blogpost_item.njk" %}
    {%- endfor -%}
</div>
