---
layout: "layouts/base.njk"
layout_size: "large"
---
<div class="home">
    <h1>Fabien Lasserre</h1>

    <div class="hero section">
        <img src="/img/me-135x135.webp" alt="Fabien Lasserre" eleventy:ignore />
        <div class="details">
            <div>
                <p class="title">{{ jobTitle | safe }}</p>
                <p class="stack">{{ stack }}</p>
            </div>
            <div>
                <a class="btn" href="{{ "/contact/" | locale_url }}">{{ contactMe }}</a>
            </div>
        </div>
    </div>

    <div class="about section">
        <h2>{{ about }}</h2>
        {{ about1 | markdownify | safe }}
        {{ about2 | markdownify | safe }}
        {{ about3 | markdownify | safe }}
    </div>

    <div class="posts section">
        <h2>{{ lastPosts }}</h2>
        {% set posts = collections["posts_" ~ locale] | reverse %}
        {% for post in posts.slice(0,3) %}
            {% set date = post.date %}
            {% set title = post.data.title %}
            {% set link = post.url %}
            {% include "components/blogpost_item.njk" %}
        {% endfor %}
    </div>

    <div class="projects section">
        <h2>{{ projects }}</h2>
        <div class="content">
            {% for project in projects_cards %}
                {% set item = {
                    cover: project.cover,
                    title: project.title[locale],
                    description: project.description[locale],
                    stack: project.stack
                } %}
                {% include "components/project_card.njk" %}
            {% endfor %}
        </div>
    </div>
</div>
