body {
  &.is-large {
    .site-footer {
      .content {
        max-width: 960px;
      }
    }
  }
}

.site-footer {
  margin-top: 100px;
  height: 70px;
  background-color: var(--bg-nav);
  border-top: 1px solid var(--nav-border);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    color: var(--gray);

    a {
      text-decoration: none;
    }
  }
}
