@use "sass:color";
@use 'code';
@use 'code_light';
@use 'nav';
@use 'home';
@use 'blog';
@use 'project_card';
@use 'footer';
@use 'contact';

:root {
  --bg: #181727;
  --bg2: #08080D;
  --bg-tags: #21202B;
  --text: #f4f3f5;
  --text-secondary: #A0A0AA;
  --accent: #F5B82E;
  --nav-border: rgba(255, 255, 255, .2);
}

:root[data-theme="light"] {
  --bg: #F3F2F7;
  --bg2: #F2F4F8;
  --bg-tags: #FCFBFE;
  --text: #22212B;
  --text-secondary: #545360;
  --accent: #F49910;
  --nav-border: rgba(34, 33, 43, .2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: initial;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--text);
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  transition: all .2s ease-out;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  &.is-large {
    .site {
      .content {
        max-width: 960px;
      }
    }
  }
}

.site {
  position: relative;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;


  .site-content {
    width: 100%;
    max-width: 960px;
    margin: auto;
    flex-grow: 1;

    .inner-page {
      max-width: 720px;
      margin: auto;
    }

    @media screen and (max-width: 960px) {
      padding: 0 20px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding-top: 70px;
    }
  }
}

.is-bold {
  font-weight: 700;
}

h1, h2, h3 {
  font-family: "Instrument Sans", sans-serif;
  color: var(--accent);
  letter-spacing: 3%;
}

h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (max-width: 960px) {
    font-size: 40px;
    margin-top: 20px;
  }
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Mulish", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  color: var(--text);
}

p {
  margin-bottom: 1rem;
  line-height: 160%;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted var(--accent);
  color: inherit;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--accent);
  }

  &.link-accent {
    text-decoration: none;
    color: var(--accent);
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  background-color: var(--accent);
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .2s;
  font-weight: 700;

  &:visited {
    color: var(--bg);
  }

  &:hover {
    color: var(--bg);
    text-decoration: none;
  }
}

hr {
  width: 75%;
  background-color: var(--text-secondary);
  margin: 1.5rem auto 2rem;
  height: 1px;
  border: 0;
}

.go-to-top {
  transition: all 0.25s ease-out;
  position: fixed;
  bottom: 0;
  right: 30px;
  background-color: var(--accent);
  color: var(--bg2);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
  z-index: 9001;

  a,
  a:visited,
  a:hover {
    color: inherit;
    width: 30px;
    height: 30px;
    display: block;
    text-decoration: none;
    border: none;
  }
}
