@use "sass:color";
@use 'dracula_prism';
@use 'dracula';
@use 'nav';
@use 'home';
@use 'blog';
@use 'project_card';
@use 'footer';
@use 'contact';

:root {
  --bg: #22202c;
  --bg2: #16151C;
  --bg-blockquote: #16151C77;
  --bg-nav: rgba(26, 26, 34, .5);
  --text: #f3f3f5;
  --accent: #f0b323;
  --accent-light: #ffc12f;
  --nav-border: rgba(255, 255, 255, .07);
  --gray: #777;
  --gray2: #e5e5e5;
  --lightgray: #999;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: initial;
}

html {
  background: var(--bg);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--text);
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  background-image: url("/img/bg.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  &.is-large {
    .site {
      .content {
        max-width: 960px;
      }
    }
  }
}

.site {
  position: relative;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;


  .content {
    max-width: 720px;
    margin: auto;
    flex-grow: 1;

    @media screen and (max-width: 960px) {
      padding: 0 20px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.is-bold {
  font-weight: 700;
}

h1, h2, h3 {
  font-family: "Instrument Sans", sans-serif;
  color: var(--accent);
  letter-spacing: 3%;
}

h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (max-width: 960px) {
    font-size: 40px;
    margin-top: 20px;
  }
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Mulish", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  color: var(--text);
}

p {
  margin-bottom: 1rem;
  line-height: 160%;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted var(--accent);
  color: inherit;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--accent);
  }

  &.link-accent {
    text-decoration: none;
    color: var(--accent);
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  background-color: var(--accent);
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .2s;
  font-weight: 700;

  &:visited {
    color: var(--bg);
  }

  &:hover {
    color: var(--bg);
    text-decoration: none;
    background-color: var(--accent-light);
  }
}

hr {
  width: 75%;
  background-color: var(--gray);
  margin: 1.5rem auto 2rem;
  height: 1px;
  border: 0;
}
