.project-card {
  width: 300px;
  border-radius: 10px;
  background-color: var(--bg2);
  display: flex;
  flex-direction: column;

  .cover, .cover img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
      transition: all .2s ease-in;
      opacity: .9;
    }
  }

  &:hover {
    .cover img {
      opacity: 1;
    }
  }

  .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .top {

      .title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .description {
        font-size: 16px;
        color: var(--gray);
      }
    }

    .stack {
      span {
        display: inline-block;
        color: var(--gray2);
        background-color: var(--bg);
        font-size: 14px;
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
